Repository omniviser/hexDAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false

check-test-structure:
  name: Check test structure consistency
  entry: uv run scripts/check_test_structure.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

check-examples:
  name: Check examples functionality
  entry: uv run scripts/check_examples.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

pytest:
  name: Run pytest
  entry: uv run pytest tests/hexai/ -x --tb=short
  language: system
  stages:
  - pre-commit
  pass_filenames: false

vulture:
  name: vulture - dead code detection
  entry: uv run vulture hexai/ --min-confidence 90
  language: system
  stages:
  - pre-commit
  pass_filenames: false

radon-complexity:
  name: radon - code complexity analysis
  entry: uv run radon cc hexai/ --min B --show-complexity
  language: system
  stages:
  - pre-commit
  pass_filenames: false

fix: ruff
  hexai/core/registry/registry.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: ruff
  .pre-commit-config.yaml
Due: none

fix: ruff
  hexai/core/bootstrap.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

ci: add OS matrix build (uv build + twine check + artifacts)
  .azurepipelines/release.yaml
Due: none

ci: add smoke test install on matrix artifacts
  .azurepipelines/release.yaml
Due: none

ci: enforce conventional commits via commitizen (pre-commit + CI)
  .azurepipelines/release.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: Refactored according to comments
  examples/observer_implementations.py
  hexai/core/application/events/control_manager.py
  hexai/core/application/events/events.py
  hexai/core/application/events/models.py
  hexai/core/application/events/observer_manager.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/application/nodes/base_llm_node.py
  hexai/core/application/nodes/base_node_factory.py
  hexai/core/application/orchestrator.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

ci: finalize package audit (public API, docs, deptry, matrix, TestPyPI guard)
  .azurepipelines/release.yaml
  docs/PACKAGING_PLAN.md
  docs/PUBLIC_API.md
  docs/RELEASE_HOWTO.md
  tests/test_public_api.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: added DI
  hexai/__init__.py
  hexai/core/registry/di_container.py
  hexai/core/registry/models.py
  hexai/core/registry/registry.py
  tests/hexai/core/registry/test_di_container.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: removed the DI container and make ports and adapters at runtime
  hexai/core/registry/decorators.py
  hexai/core/registry/di_container.py
  hexai/core/registry/discovery.py
  hexai/core/registry/models.py
  hexai/core/registry/registry.py
  tests/hexai/core/registry/sample_components.py
  tests/hexai/core/registry/test_decorators.py
  tests/hexai/core/registry/test_di_container.py
  tests/hexai/core/registry/test_registry.py
  tests/hexai/core/test_bootstrap.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the ports and adapters decorators
  examples/10_agent_nodes.py
  hexai/__init__.py
  hexai/adapters/function_tool_router.py
  hexai/adapters/mock/__init__.py
  hexai/adapters/mock/mock_database.py
  hexai/adapters/mock/mock_embedding_selector.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/ports/__init__.py
  hexai/core/ports/api_call.py
  hexai/core/ports/database.py
  hexai/core/ports/embedding_selector.py
  hexai/core/ports/llm.py
  hexai/core/ports/ontology.py
  hexai/core/ports/tool_router.py
  hexai/core/registry/decorators.py
  hexai/core/registry/models.py
  pyproject.toml
  tests/hexai/core/application/test_orchestrator.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

flake8 corrections, added newlines and docstrings
  hexai/helpers/secrets.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

ruff errors, changed error raising
  hexai/helpers/secrets.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: ports first adapters second
  hexai/core/registry/__init__.py
  hexai/core/registry/discovery.py
  hexai/core/registry/registry.py
  tests/hexai/core/registry/test_registry.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

1615: minor change
  requirements.txt
Due: none

feat: Added the hexdag config
  .yamllint.yaml
  examples/21_toml_configuration.py
  examples/run_all.py
  examples/toml_config_example.py
  hexai/core/__init__.py
  hexai/core/bootstrap.py
  hexai/core/component_manifest.yaml
  hexai/core/config/__init__.py
  hexai/core/config/loader.py
  hexai/core/config/models.py
  hexai/core/registry/discovery.py
  hexai/core/registry/manifest.py
  hexai/core/registry/registry.py
  hexdag.toml.example
  tests/hexai/core/config/test_loader.py
  tests/hexai/core/test_bootstrap.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the mock adapters as plugins
  docs/IMPLEMENTATION_GUIDE.md
  examples/22_mock_adapters_demo.py
  hexai/__init__.py
  hexai/adapters/__init__.py
  hexai/adapters/configs.py
  hexai/adapters/local/README.md
  hexai/adapters/local/__init__.py
  hexai/adapters/local/in_memory_memory.py
  hexai/adapters/mock/README.md
  hexai/adapters/mock/__init__.py
  hexai/adapters/mock/hexdag.toml
  hexai/adapters/mock/mock_database.py
  hexai/adapters/mock/mock_llm.py
  hexai/adapters/mock/mock_tool_router.py
  hexai/core/ports/__init__.py
  hexai/core/ports/memory.py
  pyproject.toml
  tests/hexai/adapters/local/test_in_memory_memory.py
  tests/hexai/adapters/mock/test_mock_llm.py
  tests/hexai/adapters/mock/test_mock_tool_router.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

docs: Added the plugin system docs.:
  docs/PLUGIN_SYSTEM.md
Due: none

local changes
  hexai/core/application/nodes/enhanced_loop_node.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: refactored the CLI.
  examples/11_dag_visualization.py
  examples/23_lazy_loading_demo.py
  hexai/__init__.py
  hexai/agent_factory/__init__.py
  hexai/cli/__init__.py
  hexai/cli/simple_pipeline_cli.py
  hexai/visualization/__init__.py
  hexai/visualization/dag_visualizer.py
  pyproject.toml
  tests/hexai/visualization/test_dag_visualizer.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Clear CI-matrix
  .azurepipelines/test-pipeline-bench.yaml
  .azurepipelines/test-pipeline.yaml
Due: none

fix: ruff linting error
  hexai/utils/features.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: add simple_events package skeleton
  hexai/simple_events/__init__.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: implement simple event taxonomy core (types, mapping, envelope, docs, initial tests)
  docs/events/simple_event_taxonomy.md
  hexai/simple_events/envelope.py
  hexai/simple_events/ids.py
  hexai/simple_events/mapping.py
  hexai/simple_events/types.py
  hexai/simple_events/validators.py
  tests/test_simple_events_type_validation.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: current progress on simple event taxonomy
  tests/test_simple_events_envelope.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: resolve conflicts
  .azurepipelines/test-pipeline.yaml
Due: none

fix: error with viz installation
  .azurepipelines/test-pipeline.yaml
Due: none

fix: after merge fixes
  hexai/simple_events/envelope.py
  hexai/simple_events/ids.py
  hexai/simple_events/mapping.py
  hexai/simple_events/validators.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: to many whitespace before displayName
  .azurepipelines/test-pipeline.yaml
Due: none

install viz,cli
  .azurepipelines/test-pipeline.yaml
Due: none

test: sync Public API list with hexai.__all__
  docs/PUBLIC_API.md
  tests/test_public_api.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: resolved changes
  .azurepipelines/test-pipeline.yaml
Due: none

fix: gitleaks errors
  .azurepipelines/test-pipeline.yaml
Due: none

fix: gitleaks errors in macos
  .azurepipelines/test-pipeline.yaml
Due: none

1615: sphinxbuild changed
  docs/Makefile
  pyproject.toml
Due: none

updated error handling and unit tests
  hexai/helpers/secrets.py
  tests/hexai/helpers/test_secrets.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Merged PR 2051: feat: Added the event bus for control
  docs/IMPLEMENTATION_GUIDE.md
  examples/05_event_system.py
  examples/observer_implementations.py
  hexai/agent_factory/PIPELINES_IMPLEMENTATION_GUIDE.md
  hexai/agent_factory/yaml_builder.py
  hexai/cli/compile.py
  hexai/core/application/events/README.md
  hexai/core/application/events/__init__.py
  hexai/core/application/events/base.py
  hexai/core/application/events/config.py
  hexai/core/application/events/control_manager.py
  hexai/core/application/events/events.py
  hexai/core/application/events/manager.py
  hexai/core/application/events/models.py
  hexai/core/application/events/observer_manager.py
  hexai/core/application/events/observers.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/application/nodes/base_llm_node.py
  hexai/core/application/nodes/base_node_factory.py
  hexai/core/application/orchestrator.py
  tests/hexai/core/application/events/test_control_manager.py
  tests/hexai/core/application/events/test_events.py
  tests/hexai/core/application/events/test_manager.py
  tests/hexai/core/application/events/test_observer_manager.py
  tests/hexai/core/application/events/test_observers.py
  tests/hexai/core/application/nodes/test_base_node_factory.py
  tests/hexai/core/application/test_orchestrator.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Path conditions:
  pyright: any of: \.py$, but not: ^(tests/|examples/)
  check-test-structure: any of: \.py$
  check-examples: any of: \.py$
  pytest: any of: \.py$
  vulture: any of: \.py$
  radon-complexity: any of: \.py$
