Repository omniviser/hexDAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-core-imports, check-async-io, check-test-structure, check-notebooks, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Path conditions:
  pyright: any of: \.py$, but not: ^(tests/|examples/|hexdag_plugins/)
  check-core-imports: any of: \.py$
  check-async-io: any of: \.py$
  check-test-structure: any of: \.py$
  check-notebooks: any of: ^notebooks/.*\.ipynb$
  doctest: any of: \.py$
  pytest: any of: \.py$
  pytest-integration: any of: \.py$
  vulture: any of: \.py$
  radon-complexity: any of: \.py$
  interrogate: any of: \.py$

feat: Added the yaml builder
  .check_core_imports.yaml
  hexdag/builtin/adapters/mock/mock_llm.py
  hexdag/builtin/macros/__init__.py
  hexdag/builtin/macros/llm_macro.py
  hexdag/builtin/macros/reasoning_agent.py
  hexdag/builtin/nodes/__init__.py
  hexdag/builtin/nodes/agent_node.py
  hexdag/builtin/nodes/llm_node.py
  hexdag/builtin/nodes/loop_node.py
  hexdag/builtin/nodes/parser_node.py
  hexdag/builtin/nodes/prompt_node.py
  hexdag/builtin/nodes/raw_llm_node.py
  hexdag/builtin/policies/retry_policy.py
  hexdag/builtin/prompts/__init__.py
  hexdag/builtin/prompts/base.py
  hexdag/builtin/prompts/chat_prompts.py
  hexdag/builtin/prompts/error_correction_prompts.py
  hexdag/builtin/prompts/tool_prompts.py
  hexdag/core/domain/dag.py
  hexdag/core/exceptions.py
  hexdag/core/orchestration/prompt/__init__.py
  hexdag/core/orchestration/prompt/template.py
  hexdag/core/pipeline_builder/yaml_builder.py
  hexdag/core/pipeline_builder/yaml_builder_v2.py
  hexdag/core/registry/__init__.py
  hexdag/core/registry/decorators.py
  hexdag/core/registry/models.py
  hexdag/core/utils/schema_conversion.py
  interrogate_badge.svg
  notebooks/advanced_fewshot_and_retry.ipynb
  notebooks/composable_llm_architecture.ipynb
  pyproject.toml
  tests/hexdag/builtin/nodes/test_parser_node.py
  tests/hexdag/builtin/nodes/test_prompt_node.py
  tests/hexdag/builtin/test_composable_llm.py
  tests/hexdag/core/application/nodes/test_agent_node.py
  tests/hexdag/core/application/prompt/test_template.py
  tests/hexdag/core/registry/test_registry.py
  tests/hexdag/pipeline_builder/test_yaml_builder_v2.py
  tests/hexdag/pipeline_builder/test_yaml_builder_validation.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, check-notebooks, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Refactored the yaml
  CLAUDE.md
  README.md
  hexdag/__init__.py
  hexdag/core/pipeline_builder/PIPELINES_IMPLEMENTATION_GUIDE.md
  hexdag/core/pipeline_builder/__init__.py
  hexdag/core/pipeline_builder/base.py
  hexdag/core/pipeline_builder/models.py
  hexdag/core/pipeline_builder/yaml_builder.py
  hexdag/core/pipeline_builder/yaml_builder_v2.py
  interrogate_badge.svg
  tests/hexdag/core/pipeline_builder/test_yaml_macro_invocation.py
  tests/hexdag/pipeline_builder/test_base.py
  tests/hexdag/pipeline_builder/test_models.py
  tests/hexdag/pipeline_builder/test_yaml_builder.py
  tests/hexdag/pipeline_builder/test_yaml_builder_v2.py
  tests/hexdag/pipeline_builder/test_yaml_builder_validation.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Added the Tool Node and macro
  hexdag/builtin/adapters/mock/mock_llm.py
  hexdag/builtin/macros/__init__.py
  hexdag/builtin/macros/tool_macro.py
  hexdag/builtin/nodes/__init__.py
  hexdag/builtin/nodes/tool_call_node.py
  hexdag/core/domain/dag.py
  interrogate_badge.svg
  tests/hexdag/builtin/nodes/test_tool_call_node.py
  tests/hexdag/core/domain/test_dag.py
  tests/hexdag/core/registry/test_registry.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: Add YAML schema conversion to LLMMacroConfig
  hexdag/builtin/adapters/llm/openai_adapter.py
  hexdag/builtin/adapters/mock/mock_llm.py
  hexdag/builtin/macros/__init__.py
  hexdag/builtin/macros/conversation_agent.py
  hexdag/builtin/macros/llm_macro.py
  hexdag/builtin/macros/reasoning_agent.py
  hexdag/builtin/nodes/raw_llm_node.py
  hexdag/builtin/nodes/tool_utils.py
  hexdag/core/context/__init__.py
  hexdag/core/context/execution_context.py
  hexdag/core/domain/dag.py
  hexdag/core/orchestration/components/node_executor.py
  hexdag/core/orchestration/orchestrator.py
  hexdag/core/orchestration/port_wrappers.py
  hexdag/core/ports/llm.py
  notebooks/06_dynamic_reasoning_agent.ipynb
  notebooks/composable_llm_architecture.ipynb
  tests/hexdag/builtin/macros/test_native_tool_calling.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, check-notebooks, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

refactor: Simplify LLMMacroConfig by removing unnecessary overrides
  hexdag/builtin/macros/llm_macro.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Enhance ConversationMacro with memory port configuration
  hexdag/builtin/macros/conversation_agent.py
  hexdag/builtin/macros/reasoning_agent.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

test: Add comprehensive tests for ConversationMacro
  tests/hexdag/builtin/macros/test_conversation_macro.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Added new module test_secure_yaml.py
  hexai/core/validation/secure_yaml.py
  tests/hexai/core/validation/test_secure_yaml.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Add abstract BaseStructuredParser for schema-based data parsing
  hexai/core/validation/base_parser.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

add SecureJSONParser with safe JSON extraction and Pydantic validation
  hexai/core/validation/json_parser.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Code review
  CHANGELOG.md
  GITHUB_ANNOUNCEMENT.md
  README.md
  docs/HEXAGONAL_ARCHITECTURE.md
  docs/MACRO_SYSTEM.md
  docs/README.md
  notebooks/02_real_world_use_cases/code_review_security_audit.ipynb
  notebooks/02_real_world_use_cases/investment_research_assistant.ipynb
Due: check-notebooks

fix: Added the test
  tests/integration/test_error_handling_patterns.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: fixed
  tests/integration/test_event_system_integration.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

add SecureYAMLParser with extraction and Pydantic validation
  hexai/core/validation/yaml_parser.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

add Unified_engine module for automatic detecting
  hexai/core/validation/unified_engine.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

unify JSON/YAML parsing with Pydantic via shared ValidationResult and UnifiedParsingEngine
  hexai/core/validation/base_parser.py
  hexai/core/validation/json_parser.py
  hexai/core/validation/unified_engine.py
  hexai/core/validation/yaml_parser.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix integration tests
  hexdag/builtin/adapters/local/local_policy_manager.py
  tests/integration/test_event_system_integration.py
  tests/integration/test_yaml_builder_integration.py
  tests/integration/test_yaml_pipeline_execution.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: add comprehensive AI tool configuration
  .claude/architecture_detail.md
  .claude/type_hints_guide.md
  .claude/yaml_guide.md
  .cursorrules
  AI_WORKFLOW.md
  CLAUDE.md
Due: none

Added tests for JSON and YAML parsers
  tests/hexai/core/validation/test_json_parser.py
  tests/hexai/core/validation/test_unified_engine.py
  tests/hexai/core/validation/test_yaml_parser.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: Integration tests
  tests/integration/test_event_system_integration.py
  tests/integration/test_observers_policies_comprehensive.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: Integration tests
  hexdag/core/registry/registry.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: Integration tests
  tests/integration/test_error_handling_patterns.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: fixed
  tests/hexai/adapters/database/csv/test_csv_adapter.py
  tests/hexai/adapters/database/sqlalchemy/test_sqlalchemy_adapter.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: fix
  hexdag/builtin/adapters/database/csv/csv_adapter.py
  hexdag/builtin/adapters/database/sqlalchemy/sqlalchemy_adapter.py
  tests/hexdag/cli/commands/test_plugin_dev_cmd.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: fix
  .azurepipelines/test-pipeline.yaml
  pyproject.toml
Due: none

fix: fix
  .azurepipelines/test-pipeline.yaml
Due: none

fix: fix
  hexdag/core/registry/registry.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: removed docs
  .azurepipelines/test-pipeline.yaml
  pyproject.toml
  scripts/docs.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: refactored
  pyproject.toml
Due: none

chore: CI pipeline setup commit
  CHANGELOG.md
Due: none

chore: hexDAG 0.3.0
  pyproject.toml
Due: none
