Repository omniviser/hexDAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Path conditions:
  pyright: any of: \.py$, but not: ^(tests/|examples/)
  check-test-structure: any of: \.py$
  check-examples: any of: \.py$
  pytest: any of: \.py$
  vulture: any of: \.py$
  radon-complexity: any of: \.py$

fix: divide matrix into 2 pipelines: Unix and windows
  .azurepipelines/test-pipeline-windows.yaml
  .azurepipelines/test-pipeline.yaml
Due: none

feat: Added the CLI and the demo.
  .gitignore
  examples/demo/DEMO_NARRATIVE_PL.md
  examples/demo/demo_langchain_comparison.py
  examples/demo/demo_startup_pitch.yaml
  examples/demo/run_demo_pitch.py
  hexai/cli/__init__.py
  hexai/cli/__main__.py
  hexai/cli/commands/__init__.py
  hexai/cli/commands/init_cmd.py
  hexai/cli/commands/plugins_cmd.py
  hexai/cli/commands/registry_cmd.py
  hexai/cli/compile.py
  hexai/cli/main.py
  hexai/cli/simple_pipeline_cli.py
  hexai/core/application/nodes/base_node_factory.py
  hexai/core/config/loader.py
  pyproject.toml
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Merged PR 2012: feat: minimal secret handler
  hexai/helpers/secrets.py
  tests/hexai/helpers/test_secrets.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the integration tests for the bootstrap and the real life adapters
  .pre-commit-config.yaml
  hexai/adapters/llm/__init__.py
  hexai/adapters/llm/anthropic_adapter.py
  hexai/adapters/llm/openai_adapter.py
  hexai/cli/commands/plugins_cmd.py
  hexai/cli/commands/registry_cmd.py
  hexai/core/registry/registry.py
  pyproject.toml
  tests/hexai/core/registry/test_registry.py
  tests/integration/test_bootstrap_and_plugins.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: git push
  tests/hexai/adapters/llm/test_anthropic_adapter.py
  tests/hexai/adapters/llm/test_openai_adapter.py
  tests/integration/test_llm_adapters_integration.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: Added integration test
  tests/integration/test_llm_adapters_bootstrap.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the integration tests
  tests/integration/test_llm_adapters_bootstrap.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: added EnhancedLoopNode and MultiConditionNode with tests
  hexai/core/application/nodes/__init__.py
  hexai/core/application/nodes/enhanced_loop_node.py
  tests/hexai/core/application/nodes/test_enhanced_loop_node.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

chore: Clean up remaining linting issues
  examples/10_agent_nodes.py
  examples/11_dag_visualization.py
  examples/22_mock_adapters_demo.py
  examples/23_lazy_loading_demo.py
  tests/hexai/adapters/llm/test_openai_adapter.py
  tests/hexai/adapters/mock/test_mock_llm.py
  tests/hexai/adapters/mock/test_mock_tool_router.py
  tests/hexai/core/application/test_orchestrator.py
  tests/hexai/core/domain/test_dag.py
  tests/hexai/core/registry/sample_components.py
  tests/hexai/core/registry/test_registry.py
  tests/hexai/core/test_bootstrap.py
  tests/integration/test_llm_adapters_integration.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

SafeJSON: Fix line_no/col_no names
  hexai/core/validation/secure_json.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Fixing ruff errors
  hexai/core/validation/secure_json.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the plugins
  .pre-commit-config.yaml
  examples/10_agent_nodes.py
  examples/11_dag_visualization.py
  examples/12_data_aggregation.py
  examples/13_yaml_pipelines.py
  examples/17_performance_optimization.py
  examples/19_complex_workflow.py
  examples/22_mock_adapters_demo.py
  examples/23_lazy_loading_demo.py
  hexai/adapters/database/sqlite/sqlite_adapter.py
  hexai/adapters/llm/openai_adapter.py
  hexai/cli/commands/plugin_dev_cmd.py
  hexai_plugins/README.md
  hexai_plugins/mysql_adapter/mysql_adapter.py
  pyproject.toml
  tests/integration/test_mysql_external_plugin.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the mysql adapter
  .pre-commit-config.yaml
  hexai/__init__.py
  hexai/agent_factory/__init__.py
  hexai/agent_factory/models.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/application/nodes/base_node_factory.py
  hexai/core/application/nodes/mapped_input.py
  hexai_plugins/mysql_adapter/mysql_adapter.py
  hexai_plugins/mysql_adapter/tests/test_mysql_adapter.py
  tests/hexai/agent_factory/test_models.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added Integration tests
  azure-pipelines.yml
Due: none

fix: fixed mypy
  azure-pipelines.yml
  pyproject.toml
Due: none

fix: Fixed warning in docs.
  .pre-commit-config.yaml
  docs/source/_static/.gitkeep
  docs/source/conf.py
  hexai/core/application/nodes/base_node_factory.py
  hexai/core/ports/database.py
  pyproject.toml
  scripts/__init__.py
  scripts/docs.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: integrate code into existing loop_node.py
  hexai/core/application/nodes/__init__.py
  hexai/core/application/nodes/enhanced_loop_node.py
  hexai/core/application/nodes/loop_node.py
  tests/hexai/core/application/nodes/test_enhanced_loop_node.py
  tests/hexai/core/application/nodes/test_loop_node.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: merged 2 files pipelines into 1
  .azurepipelines/test-pipeline-windows.yaml
  .azurepipelines/test-pipeline.yaml
Due: none

feat: Added README
  README.md
Due: none

refactor: Refactored the Tool Routers
  docs/ROADMAP.md
  examples/10_agent_nodes.py
  hexai/adapters/__init__.py
  hexai/adapters/function_tool_router.py
  hexai/adapters/unified_tool_router.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/registry/models.py
  pyproject.toml
  tests/hexai/adapters/test_unified_tool_router.py
  tests/hexai/core/application/nodes/test_agent_node.py
  tests/hexai/core/application/test_orchestrator.py
  tests/hexai/core/registry/test_registry.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the mock adapter
  hexai/adapters/mock/__init__.py
  hexai/adapters/mock/mock_tool_adapter.py
  tests/hexai/adapters/mock/test_mock_tool_adapter.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: resolve some comments
  docs/events/simple_event_taxonomy.md
  hexai/simple_events/envelope.py
  hexai/simple_events/ids.py
  hexai/simple_events/mapping.py
  hexai/simple_events/types.py
  hexai/simple_events/validators.py
  tests/test_simple_events_envelope.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: resolve comment
  hexai/core/application/events/events.py
  hexai/simple_events/envelope.py
  hexai/simple_events/ids.py
  hexai/simple_events/mapping.py
  hexai/simple_events/observer_adapter.py
  hexai/simple_events/types.py
  scripts/smoke_observer_adapter.py
  tests/test_simple_events_envelope.py
  tests/test_simple_events_observer_adapter.py
  tests/test_simple_events_type_validation.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

refactor: refactor
  examples/10_agent_nodes.py
  hexai/adapters/mock/mock_llm.py
  hexai/adapters/unified_tool_router.py
  hexai/cli/commands/plugins_cmd.py
  hexai/cli/commands/registry_cmd.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/config/loader.py
  hexai/core/ports/api_call.py
  hexai/core/ports/database.py
  hexai/core/ports/llm.py
  hexai/core/ports/memory.py
  hexai/core/ports/tool_router.py
  hexai/core/registry/decorators.py
  hexai/core/registry/discovery.py
  hexai/core/registry/introspection.py
  hexai/core/registry/models.py
  hexai/core/registry/registry.py
  hexai/tools/builtin_tools.py
  hexai/tools/database_tools.py
  hexai_plugins/mysql_adapter/tests/test_mysql_adapter.py
  pyproject.toml
  tests/hexai/adapters/database/sqlite/test_sqlite_adapter.py
  tests/hexai/adapters/test_unified_tool_router.py
  tests/hexai/core/application/test_orchestrator.py
  tests/hexai/core/registry/sample_components.py
  tests/hexai/core/registry/test_decorators.py
  tests/hexai/core/registry/test_introspection.py
  tests/hexai/core/registry/test_registry.py
  tests/hexai/core/test_bootstrap.py
  tests/hexai/tools/test_database_tools.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: Fixed the code smells
  hexai/core/registry/decorators.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Refactored the test.
  tests/integration/test_bootstrap_and_plugins.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: refactored the integration tests
  hexai/adapters/database/sqlite/sqlite_adapter.py
  hexai/adapters/local/in_memory_memory.py
  tests/hexai/adapters/database/sqlite/test_sqlite_adapter.py
  tests/integration/test_bootstrap_and_plugins.py
  tests/integration/test_bootstrap_and_plugins_no_patch.py
  tests/integration/test_llm_adapters_bootstrap.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Database port, adapters for SQLAlchemy and CSV, unit tests - Unit test for SQLAlchemy is skipped for now, we need a live DB
  hexai/adapters/csv_adapter.py
  hexai/adapters/sqlalchemy_adapter.py
  hexai/ports/database.py
  pyproject.toml
  tests/hexai/adapters/test_csv_adapter.py
  tests/hexai/adapters/test_sqlalchemy_adapter.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

refactor: consolidate event taxonomy and envelope logic
  docs/EVENT_TAXONOMY.md
  hexai/core/application/events/__init__.py
  hexai/core/application/events/events.py
  hexai/core/application/events/taxonomy.py
  hexai/simple_events/__init__.py
  hexai/simple_events/envelope.py
  hexai/simple_events/ids.py
  hexai/simple_events/observer_adapter.py
  hexai/simple_events/types.py
  hexai/simple_events/validators.py
  scripts/smoke_observer_adapter.py
  tests/test_simple_events_envelope.py
  tests/test_simple_events_observer_adapter.py
  tests/test_simple_events_type_validation.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: unnecessary file
  docs/EVENT_TAXONOMY.md
Due: none

feat: Added the Policy manager
  hexai/adapters/local/__init__.py
  hexai/adapters/local/local_policy_manager.py
  hexai/core/application/policies/__init__.py
  hexai/core/application/policies/execution_policies.py
  hexai/core/ports/policy_manager.py
  tests/hexai/adapters/local/test_local_policy_manager.py
  tests/hexai/core/application/policies/test_execution_policies.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

refactor: refactored the policies models to the models file.
  hexai/adapters/local/local_policy_manager.py
  hexai/core/application/policies/__init__.py
  hexai/core/application/policies/execution_policies.py
  hexai/core/application/policies/models.py
  hexai/core/ports/policy_manager.py
  tests/hexai/adapters/local/test_local_policy_manager.py
  tests/hexai/core/application/policies/test_execution_policies.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

refactor: refactored the way the decorators work
  hexai/adapters/local/__init__.py
  hexai/adapters/local/in_memory_memory.py
  hexai/adapters/local/local_policy_manager.py
  hexai/adapters/local/persistent_queue_policy_manager.py
  hexai/adapters/mock/mock_llm.py
  hexai/core/ports/__init__.py
  hexai/core/ports/policy_manager.py
  hexai/core/registry/decorators.py
  tests/hexai/adapters/local/test_persistent_queue_policy_manager.py
  tests/hexai/core/registry/test_decorators.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Integrated the ports builder with orchstrator
  examples/02_dependencies.py
  examples/06_ports_and_adapters.py
  examples/07_error_handling.py
  examples/08_function_nodes.py
  examples/09_llm_nodes.py
  examples/10_agent_nodes.py
  examples/11_dag_visualization.py
  examples/19_complex_workflow.py
  examples/20_integration_testing.py
  hexai/core/application/orchestrator.py
  hexai/core/application/policies/__init__.py
  hexai/core/application/policies/models.py
  hexai/core/application/ports_builder.py
  hexai/core/ports/observer_manager.py
  tests/hexai/core/application/test_orchestrator.py
  tests/hexai/core/application/test_ports_builder.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the observer manager
  hexai/adapters/local/local_observer_manager.py
  hexai/core/ports/observer_manager.py
  tests/hexai/adapters/local/test_local_observer_manager.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the local observer manager
  hexai/adapters/local/__init__.py
  hexai/adapters/local/local_observer_manager.py
  hexai/core/application/ports_builder.py
  hexai/core/ports/__init__.py
  hexai/core/ports/observer_manager.py
  tests/hexai/adapters/local/test_local_observer_manager.py
  tests/hexai/core/application/test_ports_builder.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Update Orchestrator to use ObserverManagerPort interface
  hexai/core/application/orchestrator.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the policy and observer integration tests
  hexai/adapters/local/local_observer_manager.py
  hexai/core/application/orchestrator.py
  tests/integration/test_local_observer_manager_integration.py
  tests/integration/test_local_policy_manager_integration.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity
