Repository omniviser/hexDAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-core-imports, check-async-io, check-test-structure, check-notebooks, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false

check-core-imports:
  name: Check core doesn't import from adapters/builtin
  entry: uv run python scripts/check_core_imports.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

check-async-io:
  name: Check for sync I/O in async code
  entry: uv run python scripts/check_async_io.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

check-test-structure:
  name: Check test structure consistency
  entry: uv run scripts/check_test_structure.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

check-notebooks:
  name: Execute and validate notebooks
  entry: uv run python scripts/check_notebooks.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

doctest:
  name: Run doctest
  entry: uv run pytest --doctest-modules hexdag/ --ignore=hexdag/cli/ --doctest-continue-on-failure
  language: system
  stages:
  - pre-commit
  pass_filenames: false

pytest:
  name: Run pytest with coverage
  entry: uv run pytest tests/hexdag/ --ignore=tests/hexdag/cli -x --tb=short --cov=hexdag --cov-config=pyproject.toml --cov-fail-under=70 --cov-report=term-missing:skip-covered
  language: system
  stages:
  - pre-commit
  pass_filenames: false

pytest-integration:
  name: Run integration tests
  entry: uv run pytest tests/integration/ -x --tb=short
  language: system
  stages:
  - pre-push
  pass_filenames: false

vulture:
  name: vulture - dead code detection
  entry: uv run vulture hexdag/ .vulture_whitelist.py --min-confidence 90
  language: system
  stages:
  - pre-commit
  pass_filenames: false

radon-complexity:
  name: radon - code complexity analysis
  entry: uv run radon cc hexdag/ --min B --show-complexity
  language: system
  stages:
  - pre-commit
  pass_filenames: false

interrogate:
  name: interrogate - docstring coverage
  entry: uv run interrogate hexdag/ --fail-under 95 --quiet
  language: system
  stages:
  - pre-commit
  pass_filenames: false

validation: aggregate extracted/raw errors in UnifiedParsingEngine
  hexai/core/validation/json_parser.py
  hexai/core/validation/unified_engine.py
  hexai/core/validation/yaml_parser.py
  tests/hexai/core/validation/test_yaml_parser.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix(validation): add missing __init__.py to fix secure_json import
  hexai/core/validation/__init__.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix(validation): use relative imports to resolve ModuleNotFoundError
  hexai/core/validation/json_parser.py
  hexai/core/validation/unified_engine.py
  hexai/core/validation/yaml_parser.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix(validation): fixing import problems
  hexai/core/validation/__init__.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix(validation): fixing import problems
  hexai/core/validation/secure_json.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Fix tests: migrate validation tests from hexai → hexdag and update imports
  tests/hexdag/core/validation/test_json_parser.py
  tests/hexdag/core/validation/test_secure_json.py
  tests/hexdag/core/validation/test_secure_yaml.py
  tests/hexdag/core/validation/test_unified_engine.py
  tests/hexdag/core/validation/test_yaml_parser.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: added a otel event sink
  hexai/core/application/events/sinks/otel_event_sink.py
  pyproject.toml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: resolved merge conflicts
  hexai/core/application/events/sinks/otel_event_sink.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: wrong import on test
  tests/__init__.py
  tests/hexai/__init__.py
  tests/hexai/core/__init__.py
  tests/hexai/core/application/__init__.py
  tests/hexai/core/application/events/__init__.py
  tests/hexai/core/application/events/sinks/test_file_sink.py
  tests/hexdag/__init__.py
  tests/hexdag/core/__init__.py
  tests/hexdag/core/orchestration/__init__.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: refactor
  hexai/core/application/events/sinks/file_sink.py
  hexai/core/application/events/sinks/websocket_sink.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Update README.md
  README.md
Due: none

feat: added llm.tokens, llm.cost_usd
  hexai/core/application/events/sinks/otel_event_sink.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

cli vol2
  hexai/cli/commands/events_cmd.py
  hexai/cli/commands/manifest_cmd.py
  hexai/cli/commands/pipeline_cmd.py
  hexai/cli/commands/registry_cmd.py
  hexai/cli/commands/run_cmd.py
  hexai/cli/commands/runs_cmd.py
  hexai/cli/main.py
  hexai/cli/utils.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix:added event batching into sinks and deleted events.jsonl
  hexai/core/application/events/sinks/file_sink.py
  hexai/core/application/events/sinks/otel_event_sink.py
  hexai/core/application/events/sinks/websocket_sink.py
  tests/hexai/core/application/events/sinks/test_file_sink.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat(validation): integrate SafeJSON/SafeYAML and UnifiedParsingEngine into builder, CLI and nodes
  hexdag/builtin/nodes/base_llm_node.py
  hexdag/builtin/nodes/parser_node.py
  hexdag/cli/commands/build_cmd.py
  hexdag/cli/commands/pipeline_cmd.py
  hexdag/cli/commands/validate_cmd.py
  hexdag/core/pipeline_builder/yaml_builder.py
  interrogate_badge.svg
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat(validation): fixing errors in uni tests
  hexdag/cli/commands/build_cmd.py
  hexdag/cli/commands/pipeline_cmd.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: packages
  .azurepipelines/ci-pipeline.yaml
  pyproject.toml
Due: none

feat: Added the pipeline schemas and the databases enchancements
  .pre-commit-config.yaml
  hexdag/__init__.py
  hexdag/builtin/adapters/database/__init__.py
  hexdag/builtin/adapters/database/pgvector/__init__.py
  hexdag/builtin/adapters/database/pgvector/pgvector_adapter.py
  hexdag/builtin/adapters/database/sqlite/sqlite_adapter.py
  hexdag/builtin/adapters/llm/openai_adapter.py
  hexdag/builtin/adapters/mock/mock_llm.py
  hexdag/core/config/loader.py
  hexdag/core/ports/__init__.py
  hexdag/core/ports/database.py
  hexdag/core/ports/llm.py
  interrogate_badge.svg
  pyproject.toml
  schemas/pipeline-schema.json
  schemas/policy-schema.json
  scripts/generate_schemas.py
  tests/hexdag/builtin/adapters/database/pgvector/test_pgvector_adapter.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

chore(release): bump version 0.4.0 → 0.4.0a1
  CHANGELOG.md
  hexdag/__init__.py
  pyproject.toml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

docs: Add automatic JSON schema configuration for IDEs
  .vscode/extensions.json
  .vscode/settings.json
  schemas/README.md
  schemas/README_SETUP.md
Due: none

chore: Remove duplicate README_SETUP.md, consolidate into main schemas README
  schemas/README.md
Due: none

feat: Added the embeddings ports
  hexdag/builtin/adapters/embedding/__init__.py
  hexdag/builtin/adapters/embedding/openai_embedding.py
  hexdag/builtin/adapters/mock/__init__.py
  hexdag/builtin/adapters/mock/mock_embedding.py
  hexdag/core/ports/__init__.py
  hexdag/core/ports/embedding.py
  tests/hexdag/builtin/adapters/embedding/__init__.py
  tests/hexdag/builtin/adapters/embedding/test_openai_embedding.py
  tests/hexdag/builtin/adapters/mock/test_mock_embedding.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Added taking version from one place
  hexdag/__init__.py
  pyproject.toml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Merged PR 2346: feat: packages
  .azure-pipelines/azure-pipelines.yml
  .azurepipelines/ci-pipeline.yaml
  .azurepipelines/release.yaml
  .azurepipelines/test-2-pipeline.yml
  .azurepipelines/test-pipeline.yaml
  pyproject.toml
Due: none

feat: Added the vision mock embeddings
  hexdag/builtin/adapters/mock/mock_embedding.py
  hexdag/core/ports/embedding.py
  interrogate_badge.svg
  tests/hexdag/builtin/adapters/mock/test_mock_embedding.py
  tests/hexdag/core/ports/test_embedding.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Merged PR 2348: feat: schemas
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  hexdag/__init__.py
  hexdag/builtin/adapters/database/__init__.py
  hexdag/builtin/adapters/database/pgvector/__init__.py
  hexdag/builtin/adapters/database/pgvector/pgvector_adapter.py
  hexdag/builtin/adapters/database/sqlite/sqlite_adapter.py
  hexdag/builtin/adapters/embedding/__init__.py
  hexdag/builtin/adapters/embedding/openai_embedding.py
  hexdag/builtin/adapters/llm/openai_adapter.py
  hexdag/builtin/adapters/mock/__init__.py
  hexdag/builtin/adapters/mock/mock_embedding.py
  hexdag/builtin/adapters/mock/mock_llm.py
  hexdag/core/config/loader.py
  hexdag/core/ports/__init__.py
  hexdag/core/ports/database.py
  hexdag/core/ports/embedding.py
  hexdag/core/ports/llm.py
  interrogate_badge.svg
  pyproject.toml
  schemas/README.md
  schemas/README_SETUP.md
  schemas/pipeline-schema.json
  schemas/policy-schema.json
  scripts/generate_schemas.py
  tests/hexdag/builtin/adapters/database/pgvector/test_pgvector_adapter.py
  tests/hexdag/builtin/adapters/embedding/__init__.py
  tests/hexdag/builtin/adapters/embedding/test_openai_embedding.py
  tests/hexdag/builtin/adapters/mock/test_mock_embedding.py
  tests/hexdag/core/ports/test_embedding.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

chore: CI pipeline setup commit
  CHANGELOG.md
Due: none

fix: Make agent node and mock tool router handle tool_end properly
  hexdag/builtin/adapters/mock/mock_tool_router.py
  hexdag/builtin/nodes/agent_node.py
  tests/hexdag/builtin/nodes/test_agent_node.py
  tests/integration/test_yaml_builder_integration.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

chore: restore interrogate badge from main
  interrogate_badge.svg
Due: none

feat: Added string function parsing
  CLAUDE.md
  docs/YAML_PIPELINES_ARCHITECTURE.md
  docs/YAML_PIPELINES_ROADMAP.md
  examples/demo/demo_startup_pitch.yaml
  hexdag/builtin/nodes/function_node.py
  schemas/pipeline-schema.json
  tests/hexdag/builtin/nodes/test_function_node.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Merged PR 2361: feat: schemas
  CHANGELOG.md
  CLAUDE.md
  docs/YAML_PIPELINES_ARCHITECTURE.md
  docs/YAML_PIPELINES_ROADMAP.md
  examples/demo/demo_startup_pitch.yaml
  hexdag/builtin/nodes/function_node.py
  schemas/pipeline-schema.json
  tests/hexdag/builtin/nodes/test_function_node.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: Fixed the local observers
  hexdag/builtin/nodes/base_llm_node.py
  hexdag/builtin/nodes/raw_llm_node.py
  pyproject.toml
  tests/integration/test_llm_observer_integration.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: added the multifile implementation
  hexdag/core/pipeline_builder/yaml_builder.py
  notebooks/03_yaml_includes_and_composition.ipynb
Due: pyright, check-core-imports, check-async-io, check-test-structure, check-notebooks, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Bumped version
  hexdag/core/pipeline_builder/yaml_builder.py
  pyproject.toml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Added the azure open AI
  hexdag/builtin/adapters/anthropic/__init__.py
  hexdag/builtin/adapters/anthropic/anthropic_adapter.py
  hexdag/builtin/adapters/embedding/__init__.py
  hexdag/builtin/adapters/embedding/openai_embedding.py
  hexdag/builtin/adapters/llm/__init__.py
  hexdag/builtin/adapters/openai/__init__.py
  hexdag/builtin/adapters/openai/openai_adapter.py
  hexdag/core/orchestration/port_wrappers.py
  hexdag/core/ports/__init__.py
  hexdag/core/ports/embedding.py
  hexdag/core/ports/llm.py
  hexdag_plugins/azure/LICENSE
  hexdag_plugins/azure/README.md
  hexdag_plugins/azure/__init__.py
  hexdag_plugins/azure/azure_openai_adapter.py
  hexdag_plugins/azure/pyproject.toml
  hexdag_plugins/azure/tests/__init__.py
  hexdag_plugins/azure/tests/test_azure_openai_adapter.py
  tests/hexdag/builtin/adapters/anthropic/test_anthropic_adapter.py
  tests/hexdag/builtin/adapters/embedding/__init__.py
  tests/hexdag/builtin/adapters/embedding/test_openai_embedding.py
  tests/hexdag/builtin/adapters/openai/test_openai_adapter.py
  tests/hexdag/builtin/nodes/test_tool_utils.py
  tests/hexdag/core/registry/test_registry.py
  tests/integration/test_bootstrap_and_plugins.py
  tests/integration/test_bootstrap_and_plugins_no_patch.py
  tests/integration/test_llm_adapters_bootstrap.py
  tests/integration/test_llm_adapters_integration.py
  tests/integration/test_secret_management.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Bump version
  pyproject.toml
Due: none

fix: fixed the prompt render
  hexdag/core/pipeline_builder/yaml_builder.py
  pyproject.toml
  tests/hexdag/core/pipeline_builder/test_yaml_builder.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Path conditions:
  pyright: any of: \.py$, but not: ^(tests/|examples/|hexdag_plugins/)
  check-core-imports: any of: \.py$
  check-async-io: any of: \.py$
  check-test-structure: any of: \.py$
  check-notebooks: any of: ^notebooks/.*\.ipynb$
  doctest: any of: \.py$
  pytest: any of: \.py$
  pytest-integration: any of: \.py$
  vulture: any of: \.py$
  radon-complexity: any of: \.py$
  interrogate: any of: \.py$
