Repository omniviser/hexDAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-core-imports, check-async-io, check-test-structure, check-notebooks, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Path conditions:
  pyright: any of: \.py$, but not: ^(tests/|examples/|hexdag_plugins/)
  check-core-imports: any of: \.py$
  check-async-io: any of: \.py$
  check-test-structure: any of: \.py$
  check-notebooks: any of: ^notebooks/.*\.ipynb$
  doctest: any of: \.py$
  pytest: any of: \.py$
  pytest-integration: any of: \.py$
  vulture: any of: \.py$
  radon-complexity: any of: \.py$
  interrogate: any of: \.py$

Deleted mm
  framework-tests/project-18-web-research-report/mm
Due: none

Added mm
  framework-tests/project-19-shell-command/mm
Due: none

Added 3 files to /framework-tests/project-19-shell-command
  framework-tests/project-19-shell-command/README.md
  framework-tests/project-19-shell-command/run_shell_command.py
  framework-tests/project-19-shell-command/shell_pipeline.yaml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Deleted mm
  framework-tests/project-19-shell-command/mm
Due: none

Added mm
  framework-tests/project-20-multi-domain-router/mm
Due: none

Added 3 files to /framework-tests/project-20-multi-domain-router
  framework-tests/project-20-multi-domain-router/README.md
  framework-tests/project-20-multi-domain-router/router_pipeline.yaml
  framework-tests/project-20-multi-domain-router/run_multi_domain.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Deleted mm
  framework-tests/project-20-multi-domain-router/mm
Due: none

Added mm
  framework-tests/project-21-invoice-reader/mm
Due: none

Added 3 files to /framework-tests/project-21-invoice-reader
  framework-tests/project-21-invoice-reader/README.md
  framework-tests/project-21-invoice-reader/invoice_pipeline.yaml
  framework-tests/project-21-invoice-reader/run_invoice_reader.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Deleted mm
  framework-tests/project-21-invoice-reader/mm
Due: none

Added mm
  framework-tests/project-22-blog-writer/mm
Due: none

Added 3 files to /framework-tests/project-22-blog-writer
  framework-tests/project-22-blog-writer/README.md
  framework-tests/project-22-blog-writer/blog_pipeline.yaml
  framework-tests/project-22-blog-writer/run_blog_writer.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Deleted mm
  framework-tests/project-22-blog-writer/mm
Due: none

Added README.md to /framework-tests
  framework-tests/README.md
Due: none

Deleted README.md
  framework-tests/README.md
Due: none

feat: Added the retry policy and stuff
  docs/nodes.md
  hexdag/builtin/macros/llm_macro.py
  hexdag/builtin/macros/reasoning_agent.py
  hexdag/builtin/nodes/__init__.py
  hexdag/builtin/nodes/base_llm_node.py
  hexdag/builtin/nodes/llm_node.py
  hexdag/builtin/nodes/parser_node.py
  hexdag/builtin/nodes/prompt_node.py
  hexdag/builtin/nodes/raw_llm_node.py
  hexdag/builtin/policies/retry_policy.py
  hexdag/core/exceptions.py
  hexdag/core/resolver.py
  interrogate_badge.svg
  notebooks/composable_llm_architecture.ipynb
  schemas/pipeline-schema.json
  scripts/generate_schemas.py
  tests/hexdag/builtin/nodes/test_parser_node.py
  tests/hexdag/builtin/nodes/test_prompt_node.py
  tests/hexdag/core/pipeline_builder/test_yaml_builder.py
  tests/hexdag/core/test_resolver.py
  tests/hexdag/core/test_yaml_macro.py
  tests/integration/test_composable_llm.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, check-notebooks, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Simplify
  hexdag/adapters/executors/local_executor.py
  hexdag/core/orchestration/components/__init__.py
  hexdag/core/orchestration/components/execution_coordinator.py
  hexdag/core/orchestration/components/lifecycle_manager.py
  hexdag/core/orchestration/components/node_executor.py
  hexdag/core/orchestration/orchestrator.py
  interrogate_badge.svg
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: studio
  hexdag/studio/server/routes/execute.py
  hexdag/studio/ui/src/App.tsx
  hexdag/studio/ui/src/components/FileBrowser.tsx
  hexdag/studio/ui/src/components/NodePalette.tsx
  pyproject.toml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Merged PR 2683: fix: studio
  hexdag/studio/server/routes/execute.py
  hexdag/studio/ui/src/App.tsx
  hexdag/studio/ui/src/components/FileBrowser.tsx
  hexdag/studio/ui/src/components/NodePalette.tsx
  pyproject.toml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Create python-package.yml
  .github/workflows/python-package.yml
Due: none

Update python-package.yml
  .github/workflows/python-package.yml
Due: none

fix: Various fixes
  .check_core_imports.yaml
  .github/workflows/publish-pypi.yml
  .pre-commit-config.yaml
  LICENSE
  README.md
  hexdag/builtin/nodes/loop_node.py
  hexdag/core/expression_parser.py
  hexdag/core/orchestration/components/execution_coordinator.py
  hexdag/core/pipeline_builder/component_instantiator.py
  hexdag/core/pipeline_builder/yaml_builder.py
  hexdag/core/pipeline_builder/yaml_validator.py
  hexdag/core/resolver.py
  hexdag/core/schema/generator.py
  hexdag/mcp_server.py
  interrogate_badge.svg
  pyproject.toml
  schemas/pipeline-schema.json
  tests/hexdag/builtin/nodes/test_loop_node.py
  tests/hexdag/core/orchestration/components/test_input_mapper.py
  tests/hexdag/core/pipeline_builder/test_component_instantiator.py
  tests/hexdag/core/schema/test_generator.py
  tests/hexdag/core/test_expression_parser.py
  tests/hexdag/core/test_resolver.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: MCP server
  hexdag/mcp_server.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: yaml
  hexdag/core/orchestration/components/execution_coordinator.py
  hexdag/mcp_server.py
  tests/integration/test_yaml_pipeline_execution.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: mapped intpu
  hexdag/builtin/nodes/mapped_input.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: loop node in yaml
  hexdag/builtin/nodes/loop_node.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: enhance MCP auto-documentation
  hexdag/mcp_server.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: Added support for the node config dependencies
  hexdag/core/pipeline_builder/yaml_builder.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate
