Repository omniviser/hexDAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false

check-test-structure:
  name: Check test structure consistency
  entry: uv run scripts/check_test_structure.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

check-examples:
  name: Check examples functionality
  entry: uv run scripts/check_examples.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

pytest:
  name: Run pytest
  entry: uv run pytest tests/hexai/ -x --tb=short
  language: system
  stages:
  - pre-commit
  pass_filenames: false

vulture:
  name: vulture - dead code detection
  entry: uv run vulture hexai/ --min-confidence 90
  language: system
  stages:
  - pre-commit
  pass_filenames: false

radon-complexity:
  name: radon - code complexity analysis
  entry: uv run radon cc hexai/ --min B --show-complexity
  language: system
  stages:
  - pre-commit
  pass_filenames: false

feat: Added logguru
  hexai/adapters/llm/anthropic_adapter.py
  hexai/adapters/llm/openai_adapter.py
  hexai/adapters/local/local_observer_manager.py
  hexai/core/application/nodes/base_node_factory.py
  hexai/core/application/orchestrator.py
  hexai/core/logging.py
  hexai/core/orchestration/hooks.py
  pyproject.toml
  tests/hexai/adapters/llm/test_anthropic_adapter.py
  tests/hexai/adapters/llm/test_openai_adapter.py
  tests/hexai/core/orchestration/test_hooks.py
  tests/hexai/core/test_logging.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added doctest and type annotation
  tests/integration/test_llm_adapters_integration.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the test coverage
  .license-config.toml
  .mutmut-config.py
  .pre-commit-config.yaml
  CLAUDE.md
  azure-pipelines.yml
  hexai/core/application/nodes/agent_node.py
  hexai/core/application/nodes/tool_utils.py
  hexai/core/application/policies/models.py
  hexai/core/config/models.py
  hexai/core/logging.py
  hexai/core/orchestration/hook_context.py
  hexai/core/orchestration/hooks.py
  hexai/core/orchestration/models.py
  hexai/core/ports/healthcheck.py
  hexai/core/types.py
  pyproject.toml
  tests/benchmarks/__init__.py
  tests/hexai/cli/__init__.py
  tests/hexai/cli/commands/__init__.py
  tests/hexai/cli/commands/test_config_cmd.py
  tests/hexai/cli/commands/test_init_cmd.py
  tests/hexai/cli/commands/test_plugin_dev_cmd.py
  tests/hexai/cli/commands/test_plugins_cmd.py
  tests/hexai/cli/commands/test_registry_cmd.py
  tests/hexai/cli/test_main.py
  tests/integration/test_llm_adapters_integration.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added azure pipelines
  azure-pipelines.yml
Due: none

fix: removed girffe
  .pre-commit-config.yaml
  azure-pipelines.yml
  pyproject.toml
Due: none

Merged PR 2087: feat: Universal Thin DatabasePort Protocol & Reference Adapter
  hexai/adapters/database/csv/csv_adapter.py
  hexai/adapters/database/sqlalchemy/sqlalchemy_adapter.py
  hexai/ports/database.py
  pyproject.toml
  tests/hexai/adapters/database/csv/test_csv_adapter.py
  tests/hexai/adapters/database/sqlalchemy/test_sqlalchemy_adapter.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Merged PR 2062: feat: event taxonomy
  hexai/core/application/events/__init__.py
  hexai/core/application/events/events.py
  hexai/core/application/events/taxonomy.py
  tests/hexai/core/application/events/test_taxonomy.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Merged PR 2099: feat: event batching
  hexai/adapters/local/local_observer_manager.py
  hexai/core/application/events/batching.py
  tests/hexai/core/application/events/test_batching.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat/prompt sanitizer
  hexai/agent_factory/yaml_builder.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/application/nodes/base_llm_node.py
  hexai/core/application/prompt/security/__init__.py
  hexai/core/application/prompt/security/prompt_sanitizer.py
  tests/hexai/core/application/prompt/security/__init__.py
  tests/hexai/core/application/prompt/security/test_prompt_sanitizer.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the schema generator and adapter component
  .pre-commit-config.yaml
  .vulture_whitelist.py
  hexai/adapters/database/sqlite/sqlite_adapter.py
  hexai/adapters/llm/anthropic_adapter.py
  hexai/adapters/llm/openai_adapter.py
  hexai/adapters/memory/file_memory_adapter.py
  hexai/adapters/memory/in_memory_memory.py
  hexai/adapters/memory/sqlite_memory_adapter.py
  hexai/adapters/mock/mock_database.py
  hexai/adapters/mock/mock_llm.py
  hexai/adapters/mock/mock_tool_adapter.py
  hexai/adapters/mock/mock_tool_router.py
  hexai/adapters/unified_tool_router.py
  hexai/core/__init__.py
  hexai/core/configurable.py
  hexai/core/ports/configurable.py
  hexai/core/registry/decorators.py
  hexai/core/registry/registry.py
  hexai/core/schema/__init__.py
  hexai/core/schema/generator.py
  hexai/core/types.py
  pyproject.toml
  tests/hexai/adapters/llm/test_openai_adapter.py
  tests/hexai/adapters/memory/test_sqlite_memory_adapter.py
  tests/hexai/core/registry/test_registry.py
  tests/hexai/core/schema/__init__.py
  tests/hexai/core/schema/test_generator.py
  tests/hexai/core/test_configurable.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the yaml builder
  .pre-commit-config.yaml
  examples/declarative_pipeline.yaml
  examples/demo/demo_startup_pitch.yaml
  hexai/adapters/database/sqlite/sqlite_adapter.py
  hexai/adapters/llm/anthropic_adapter.py
  hexai/adapters/llm/openai_adapter.py
  hexai/adapters/memory/file_memory_adapter.py
  hexai/adapters/memory/in_memory_memory.py
  hexai/adapters/memory/sqlite_memory_adapter.py
  hexai/adapters/mock/mock_database.py
  hexai/adapters/mock/mock_llm.py
  hexai/adapters/mock/mock_tool_adapter.py
  hexai/adapters/mock/mock_tool_router.py
  hexai/adapters/unified_tool_router.py
  hexai/agent_factory/yaml_builder.py
  hexai/agent_factory/yaml_validator.py
  hexai/core/configurable.py
  hexai/core/domain/dag.py
  interrogate_badge.svg
  pyproject.toml
  tests/hexai/agent_factory/test_yaml_builder.py
  tests/hexai/agent_factory/test_yaml_validator.py
  tests/hexai/core/domain/test_dag.py
  tests/integration/test_yaml_builder_integration.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: mkdocs and CLi for yaml
  .gitignore
  .pre-commit-config.yaml
  docs/.hooks/registry_docs.py
  docs/getting-started/concepts.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guide/node-types.md
  docs/index.md
  examples/manifests/README.md
  examples/manifests/sentiment-classifier.yaml
  examples/manifests/text-analysis-pipeline.yaml
  examples/plugins/README.md
  examples/plugins/text_processing/README.md
  examples/plugins/text_processing/example_usage.py
  examples/plugins/text_processing/pyproject.toml
  examples/plugins/text_processing/text_processing_plugin/__init__.py
  examples/plugins/text_processing/text_processing_plugin/nodes.py
  examples/run_text_analysis_pipeline.py
  examples/simple_text_analysis.py
  hexai/agent_factory/yaml_builder.py
  hexai/cli/commands/create_cmd.py
  hexai/cli/commands/docs_cmd.py
  hexai/cli/commands/schema_cmd.py
  hexai/cli/commands/validate_cmd.py
  hexai/cli/main.py
  hexai/core/application/nodes/loop_node.py
  hexai/core/bootstrap.py
  hexai/core/config/loader.py
  hexai/core/logging.py
  hexai/core/orchestration/components/node_executor.py
  hexai/core/registry/discovery.py
  hexai/core/registry/registry.py
  interrogate_badge.svg
  mkdocs.yml
  pyproject.toml
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added localSecrets adapter
  hexai/adapters/database/sqlite/sqlite_adapter.py
  hexai/adapters/llm/anthropic_adapter.py
  hexai/adapters/llm/openai_adapter.py
  hexai/adapters/memory/file_memory_adapter.py
  hexai/adapters/memory/in_memory_memory.py
  hexai/adapters/memory/sqlite_memory_adapter.py
  hexai/adapters/mock/mock_database.py
  hexai/adapters/mock/mock_llm.py
  hexai/adapters/secret/__init__.py
  hexai/adapters/secret/local_secret_adapter.py
  hexai/adapters/unified_tool_router.py
  hexai/cli/commands/__init__.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/application/nodes/base_llm_node.py
  hexai/core/application/nodes/base_node_factory.py
  hexai/core/configurable.py
  hexai/core/ports/secret.py
  hexai/core/types.py
  hexai/core/utils/sql_validation.py
  hexai/helpers/secrets.py
  interrogate_badge.svg
  llm-test.yaml
  test-pipeline.yaml
  tests/hexai/adapters/llm/test_anthropic_adapter.py
  tests/hexai/adapters/llm/test_openai_adapter.py
  tests/hexai/helpers/test_secrets.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: trying to fix some issues and resolve comments
  hexai/adapters/local/local_observer_manager.py
  hexai/adapters/local/local_policy_manager.py
  hexai/cli/commands/plugins_cmd.py
  hexai/core/application/events/decorators.py
  hexai/core/config/loader.py
  tests/hexai/core/application/events/test_events.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

ci: add yamllint configuration
  .azurepipelines/release.yaml
  .azurepipelines/test-pipeline.yaml
  .pre-commit-config.yaml
  .yamllint.yml
  examples/demo/demo_startup_pitch.yaml
Due: none

fix: Install dependencies with uv
  .azurepipelines/test-pipeline.yaml
Due: none

fix: source venv for doc tools
  .azurepipelines/test-pipeline.yaml
Due: none

Prefix PromptTemplate render/format as internal methods
  hexai/core/application/prompt/template.py
  tests/hexai/core/application/prompt/test_template.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the docker buid
  README.md
  docs/CLI_REFERENCE.md
  hexai/adapters/llm/openai_adapter.py
  hexai/cli/commands/build_cmd.py
  hexai/cli/main.py
  hexai/core/config/loader.py
  hexai/core/config/models.py
  hexai/core/logging.py
  pyproject.toml
  tests/hexai/cli/commands/test_build_cmd.py
  tests/hexai/core/orchestration/test_hooks.py
  tests/integration/test_orchestrator_hooks.py
  tests/integration/test_secret_management.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: update doc8 command and docs versions
  .azurepipelines/test-pipeline.yaml
  pyproject.toml
Due: none

feat: Observers and Controlers
  examples/26_observers_and_policies.py
  examples/run_all.py
  hexai/core/application/events/__init__.py
  hexai/core/application/events/observers/__init__.py
  hexai/core/application/events/observers/core_observers.py
  hexai/core/application/events/observers/models.py
  hexai/core/application/policies/__init__.py
  hexai/core/application/policies/execution_policies.py
  interrogate_badge.svg
  tests/hexai/core/application/events/observers/test_core_observers.py
  tests/hexai/core/application/policies/__init__.py
  tests/hexai/core/application/policies/test_execution_policies.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

refactor: Optimized the code
  hexai/adapters/local/local_observer_manager.py
  hexai/adapters/local/local_policy_manager.py
  hexai/core/application/events/observers/core_observers.py
  hexai/core/application/policies/execution_policies.py
  hexai/core/application/prompt/template.py
  hexai/core/domain/dag.py
  hexai/core/orchestration/components/wave_executor.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the optimizations
  hexai/adapters/local/local_observer_manager.py
  hexai/adapters/local/local_policy_manager.py
  hexai/core/application/events/observers/core_observers.py
  hexai/core/application/policies/execution_policies.py
  hexai/core/application/prompt/template.py
  hexai/core/domain/dag.py
  hexai/core/orchestration/components/wave_executor.py
  interrogate_badge.svg
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: ensure doc8 is installed in CI
  .azurepipelines/test-pipeline.yaml
Due: none

fix: correct documentation artifact path
  .azurepipelines/test-pipeline.yaml
Due: none

fix: fix trailing spaces
  .azurepipelines/test-pipeline.yaml
Due: none

Merged PR 2042: feat: Add Read the Docs configuration
  .azurepipelines/release.yaml
  .azurepipelines/test-pipeline.yaml
  .pre-commit-config.yaml
  .readthedocs.yaml
  .yamllint.yml
  README.md
  azure-pipelines.yml
  docs/Makefile
  docs/make.bat
  docs/source/_static/.gitkeep
  docs/source/conf.py
  docs/source/hexai.adapters.mock.rst
  docs/source/hexai.adapters.rst
  docs/source/hexai.agent_factory.rst
  docs/source/hexai.cli.rst
  docs/source/hexai.rst
  docs/source/index.rst
  docs/source/modules.rst
  examples/demo/demo_startup_pitch.yaml
  hexai/core/ports/database.py
  pyproject.toml
  scripts/__init__.py
  scripts/docs.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

First version add secure_yaml module for safe YAML parsing similiar to secure_json
  hexai/core/validation/secure_yaml.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: refactored the bugs
  .azure-pipelines/README.md
  .azure-pipelines/semantic-version.yml
  hexdag/cli/commands/plugins_cmd.py
  hexdag/cli/commands/registry_cmd.py
  hexdag/cli/main.py
  pyproject.toml
  tests/hexdag/cli/commands/test_plugins_cmd.py
  tests/hexdag/cli/commands/test_registry_cmd.py
  tests/hexdag/cli/test_main.py
  tests/integration/test_bootstrap_and_plugins.py
  tests/integration/test_bootstrap_and_plugins_no_patch.py
  tests/integration/test_llm_adapters_bootstrap.py
  tests/integration/test_llm_adapters_bootstrap.py.bak
  tests/integration/test_llm_adapters_integration.py
  tests/integration/test_mysql_external_plugin.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added more CLI
  hexdag/cli/commands/__init__.py
  hexdag/cli/commands/manifest_cmd.py
  hexdag/cli/commands/pipeline_cmd.py
  hexdag/cli/commands/registry_cmd.py
  hexdag/cli/main.py
  tests/hexdag/cli/commands/test_manifest_cmd.py
  tests/hexdag/cli/commands/test_pipeline_cmd.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

chore(release): bump version 0.1.0 → 0.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Added the version
  hexdag/__init__.py
  pyproject.toml
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: version bump
  CHANGELOG.md
  hexdag/__init__.py
  pyproject.toml
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

chore(release): bump version 0.3.0-a1 → 0.3.0-a2
  hexdag/__init__.py
  hexdag/cli/commands/__init__.py
  hexdag/cli/commands/pipeline_cmd.py
  hexdag/cli/main.py
  pyproject.toml
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

pre-commit fixes
  hexai/cli/commands/adapters_cmd.py
  hexai/cli/commands/events_cmd.py
  hexai/cli/commands/manifest_cmd.py
  hexai/cli/commands/nodes_cmd.py
  hexai/cli/commands/observers_cmd.py
  hexai/cli/commands/pipeline_cmd.py
  hexai/cli/commands/policies_cmd.py
  hexai/cli/commands/ports_cmd.py
  hexai/cli/commands/run_cmd.py
  hexai/cli/commands/runs_cmd.py
  hexai/cli/commands/validation_cmd.py
  hexai/cli/main.py
  pyproject.toml
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: added custom node support
  .pre-commit-config.yaml
  hexdag/core/pipeline_builder/yaml_builder.py
  hexdag/core/pipeline_builder/yaml_validator.py
  pyproject.toml
  schemas/README.md
  schemas/hexdag-config-schema.json
  schemas/pipeline-schema.json
  schemas/policy-schema.json
  scripts/check_schemas.py
  scripts/generate_schemas.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Set up CI with Azure Pipelines
  .azurepipelines/ci-pipeline.yml
Due: none

Path conditions:
  pyright: any of: \.py$, but not: ^(tests/|examples/)
  check-test-structure: any of: \.py$
  check-examples: any of: \.py$
  pytest: any of: \.py$
  vulture: any of: \.py$
  radon-complexity: any of: \.py$
