Repository omniviser/hexDAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false

check-test-structure:
  name: Check test structure consistency
  entry: uv run scripts/check_test_structure.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

check-examples:
  name: Check examples functionality
  entry: uv run scripts/check_examples.py
  language: system
  stages:
  - pre-commit
  pass_filenames: false

pytest:
  name: Run pytest
  entry: uv run pytest tests/hexai/ -x --tb=short
  language: system
  stages:
  - pre-commit
  pass_filenames: false

vulture:
  name: vulture - dead code detection
  entry: uv run vulture hexai/ --min-confidence 90
  language: system
  stages:
  - pre-commit
  pass_filenames: false

radon-complexity:
  name: radon - code complexity analysis
  entry: uv run radon cc hexai/ --min B --show-complexity
  language: system
  stages:
  - pre-commit
  pass_filenames: false

feat: Added policy type events
  hexai/core/application/events/__init__.py
  hexai/core/application/events/events.py
  hexai/core/application/orchestrator.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Merged PR 2068: feat: Clear CI-matrix
  .azurepipelines/test-pipeline-bench.yaml
  .azurepipelines/test-pipeline.yaml
Due: none

refactor: refactored the Observer manager as port
  examples/01_basic_dag.py
  examples/02_dependencies.py
  examples/03_validation_basics.py
  examples/05_event_system.py
  examples/06_ports_and_adapters.py
  examples/07_error_handling.py
  examples/08_function_nodes.py
  examples/09_llm_nodes.py
  examples/10_agent_nodes.py
  examples/11_dag_visualization.py
  examples/12_data_aggregation.py
  examples/13_yaml_pipelines.py
  examples/14_pipeline_compilation.py
  examples/15_pipeline_catalog.py
  examples/16_validation_errors.py
  examples/17_performance_optimization.py
  examples/18_advanced_patterns.py
  examples/19_complex_workflow.py
  examples/20_integration_testing.py
  hexai/adapters/local/local_observer_manager.py
  hexai/agent_factory/yaml_builder.py
  hexai/core/application/events/__init__.py
  hexai/core/application/events/config.py
  hexai/core/application/events/control_manager.py
  hexai/core/application/events/events.py
  hexai/core/application/events/models.py
  hexai/core/application/events/observer_manager.py
  hexai/core/application/events/observers.py
  hexai/core/application/orchestrator.py
  hexai/core/application/ports_builder.py
  hexai/core/ports/observer_manager.py
  tests/hexai/adapters/local/test_local_observer_manager.py
  tests/hexai/core/application/events/test_control_manager.py
  tests/hexai/core/application/events/test_observer_manager.py
  tests/hexai/core/application/test_orchestrator.py
  tests/hexai/core/application/test_ports_builder.py
  tests/integration/test_local_observer_manager_integration.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Merged PR 2097: Revert 'feat: Clear CI-matrix'
  .azurepipelines/test-pipeline-bench.yaml
  .azurepipelines/test-pipeline.yaml
Due: none

fix: fixed the comments
  hexai/cli/simple_pipeline_cli.py
  hexai/core/application/events/control_manager.py
  hexai/core/application/events/models.py
  hexai/core/application/events/observer_manager.py
  hexai/core/config/__init__.py
  hexai/core/config/loader.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: changed logic created LoopConfig class
  hexai/core/application/nodes/loop_node.py
  tests/hexai/core/application/nodes/test_loop_node.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: Fixes the integration tests
  tests/integration/test_bootstrap_and_plugins.py
  tests/integration/test_llm_adapters_bootstrap.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fixes to sqlalchemyadapter and updates to unit tests for it
  hexai/adapters/sqlalchemy_adapter.py
  tests/hexai/adapters/test_sqlalchemy_adapter.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: rename file
  tests/hexai/core/application/events/test_taxonomy.py
  tests/test_simple_events_envelope.py
  tests/test_simple_events_type_validation.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: add eventbatcher helper and config primitives
  hexai/core/application/events/__init__.py
  hexai/core/application/events/batching.py
  tests/hexai/core/application/events/test_batching.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: changes in logic added ConditionalConfig and defaults values for arguments
  hexai/core/application/nodes/loop_node.py
  tests/hexai/core/application/nodes/test_loop_node.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat:route notifications through eventbatcher
  hexai/core/application/events/observer_manager.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

test: cover batched delivery and overload paths
  tests/hexai/core/application/events/test_observer_manager.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fix(validation): correct version and JSON parsing in secure_json.py
  hexai/cli/simple_pipeline_cli.py
  hexai/core/application/nodes/tool_utils.py
  hexai/core/validation/secure_json.py
  tests/hexai/core/validation/test_secure_json.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: loop_fn shortening
  hexai/core/application/nodes/loop_node.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: add function-level decorators and tests
  hexai/core/application/events/__init__.py
  hexai/core/application/events/control_manager.py
  hexai/core/application/events/decorators.py
  hexai/core/application/events/observer_manager.py
  tests/hexai/core/application/events/test_control_manager.py
  tests/hexai/core/application/events/test_observer_manager.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: minor issues
  hexai/core/application/events/control_manager.py
  hexai/core/application/events/decorators.py
  hexai/core/application/events/observer_manager.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Initial commit
  LICENSE
Due: none

fix: Fixed the comments
  examples/demo/DEMO_NARRATIVE_EN.md
  hexai/adapters/configs.py
  hexai/adapters/database/sqlite/sqlite_adapter.py
  hexai/adapters/llm/anthropic_adapter.py
  hexai/adapters/llm/openai_adapter.py
  hexai/adapters/local/README.md
  hexai/adapters/local/in_memory_memory.py
  hexai/adapters/mock/mock_database.py
  hexai/adapters/mock/mock_llm.py
  hexai/adapters/mock/mock_tool_adapter.py
  hexai/adapters/mock/mock_tool_router.py
  hexai/adapters/unified_tool_router.py
  hexai/cli/commands/config_cmd.py
  hexai/cli/main.py
  hexai/core/application/nodes/agent_node.py
  hexai/core/config/loader.py
  hexai/core/ports/configurable.py
  hexai/core/registry/registry.py
  hexai/tools/builtin_tools.py
  hexai/tools/database_tools.py
  hexai/visualization/__init__.py
  hexdag.toml.example
  tests/hexai/adapters/database/sqlite/test_sqlite_adapter.py
  tests/hexai/adapters/llm/test_anthropic_adapter.py
  tests/hexai/adapters/llm/test_openai_adapter.py
  tests/hexai/adapters/mock/test_mock_llm.py
  tests/hexai/adapters/mock/test_mock_tool_router.py
  tests/hexai/adapters/test_unified_tool_router.py
  tests/hexai/core/ports/test_configurable.py
  tests/hexai/core/registry/test_registry.py
  tests/hexai/core/test_bootstrap.py
  tests/hexai/helpers/test_secrets.py
  tests/hexai/tools/test_database_tools.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: Fixed files creation during tests
  tests/hexai/adapters/database/sqlite/test_sqlite_adapter.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: Fixed the file creatino
  tests/hexai/adapters/database/sqlite/test_sqlite_adapter.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: NITRO
  tests/integration/test_bootstrap_and_plugins.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

refactor: Refactored the integration test
  tests/integration/test_bootstrap_and_plugins_no_patch.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Integration test
  tests/integration/test_llm_adapters_integration.py
Due: check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: ruff problems
  hexai/core/application/events/batching.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: another ruff problem
  hexai/core/application/events/batching.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: implement suggestions and resolve ruff problems
  hexai/core/application/events/taxonomy.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: ruff
  hexai/core/application/events/taxonomy.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: ruff again
  hexai/core/application/events/taxonomy.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: automate docs build and artifact (1960)
  .azurepipelines/test-pipeline.yaml
  docs/source/index.rst
  pyproject.toml
Due: none

feat: Refactored the azure pipelines
  azure-pipelines.yml
Due: none

fix: Ruff lint
  hexai/visualization/__init__.py
  pyproject.toml
  tests/integration/test_bootstrap_and_plugins.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: ruff format
  .pre-commit-config.yaml
  examples/12_data_aggregation.py
  examples/19_complex_workflow.py
  hexai/adapters/llm/openai_adapter.py
  hexai/adapters/mock/mock_tool_adapter.py
  hexai/cli/commands/init_cmd.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

fix: resolve after merge issues
  docs/IMPLEMENTATION_GUIDE.md
  hexai/adapters/__init__.py
  hexai/cli/commands/plugins_cmd.py
  hexai/core/application/events/control_manager.py
  hexai/core/application/events/observer_manager.py
  hexai/core/config/loader.py
  hexai/core/registry/decorators.py
  hexai/core/registry/discovery.py
  tests/hexai/core/application/events/test_control_manager.py
  tests/hexai/core/application/events/test_observer_manager.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: Added the observer and the policy manager and removed the old implementations of the managers
  examples/05_event_system.py
  hexai/adapters/local/__init__.py
  hexai/adapters/local/local_observer_manager.py
  hexai/adapters/local/local_policy_manager.py
  hexai/agent_factory/yaml_builder.py
  hexai/core/application/events/__init__.py
  hexai/core/application/events/config.py
  hexai/core/application/events/control_manager.py
  hexai/core/application/events/events.py
  hexai/core/application/events/models.py
  hexai/core/application/events/observer_manager.py
  hexai/core/application/orchestrator.py
  hexai/core/application/policies/__init__.py
  hexai/core/application/policies/execution_policies.py
  hexai/core/application/policies/models.py
  hexai/core/ports/__init__.py
  hexai/core/ports/observer_manager.py
  hexai/core/ports/policy_manager.py
  hexai/core/registry/decorators.py
  hexai/core/registry/registry.py
  tests/hexai/core/application/events/test_control_manager.py
  tests/hexai/core/application/events/test_observer_manager.py
  tests/hexai/core/application/test_orchestrator.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

feat: added the port builder
  examples/05_event_system.py
  hexai/core/application/context.py
  hexai/core/application/events/__init__.py
  hexai/core/application/events/events.py
  hexai/core/application/orchestrator.py
  hexai/core/application/ports_builder.py
  tests/hexai/core/application/test_orchestrator.py
  tests/hexai/core/application/test_ports_builder.py
Due: pyright, check-test-structure, check-examples, pytest, vulture, radon-complexity

Path conditions:
  pyright: any of: \.py$, but not: ^(tests/|examples/)
  check-test-structure: any of: \.py$
  check-examples: any of: \.py$
  pytest: any of: \.py$
  vulture: any of: \.py$
  radon-complexity: any of: \.py$
