Repository omniviser/hexDAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-core-imports, check-async-io, check-test-structure, check-notebooks, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

Path conditions:
  pyright: any of: \.py$, but not: ^(tests/|examples/|hexdag_plugins/)
  check-core-imports: any of: \.py$
  check-async-io: any of: \.py$
  check-test-structure: any of: \.py$
  check-notebooks: any of: ^notebooks/.*\.ipynb$
  doctest: any of: \.py$
  pytest: any of: \.py$
  pytest-integration: any of: \.py$
  vulture: any of: \.py$
  radon-complexity: any of: \.py$
  interrogate: any of: \.py$

release(hexdag-plugins) 0.2.0.dev4
  hexdag_plugins/pyproject.toml
Due: none

feat: adapters and settings
  .claude/settings.json
  hexdag/stdlib/adapters/database/__init__.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: system forge:
  .claude/settings.json
  hexdag/stdlib/adapters/database/__init__.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: docs and adapters
  docs/generated/mcp/node_guide.md
  docs/generated/mcp/pipeline_schema_guide.md
  docs/generated/mcp/yaml_reference.md
  hexdag/stdlib/adapters/database/pgvector/__init__.py
  hexdag/stdlib/nodes/agent_node.py
  hexdag_plugins/google/adapters/vertex.py
  schemas/pipeline-schema.json
  schemas/pipeline-schema.yaml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: forge
  docs/generated/mcp/node_guide.md
  docs/generated/mcp/pipeline_schema_guide.md
  docs/generated/mcp/yaml_reference.md
  hexdag/stdlib/adapters/database/pgvector/__init__.py
  hexdag/stdlib/nodes/agent_node.py
  hexdag_plugins/google/adapters/vertex.py
  schemas/pipeline-schema.json
  schemas/pipeline-schema.yaml
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: fixed chat pipeline
  hexdag_plugins/google/adapters/vertex.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

chore: clean up CI/CD workflow and tooling config
  .github/workflows/release.yml
  pyproject.toml
  scripts/detect_changes.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

chore: remove hexdag-forge from monorepo
  .github/workflows/release.yml
  pyproject.toml
  scripts/detect_changes.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: hexdag
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/GAPS.md
  docs/GUIDE.md
  docs/README.md
  docs/ROADMAP.md
  docs/adapters.md
  docs/core.md
  docs/generated/mcp/cli_reference.md
  docs/guide/node-types.md
  docs/index.md
  docs/nodes.md
  docs/plugin.md
  docs/ports.md
  docs/quickstart.md
  hexdag-plugins/README.md
  hexdag-plugins/hexdag_plugins/langfuse/README.md
  hexdag-plugins/hexdag_plugins/langfuse/__init__.py
  hexdag-plugins/hexdag_plugins/langfuse/observer.py
  hexdag-plugins/hexdag_plugins/langfuse/tests/__init__.py
  hexdag-plugins/hexdag_plugins/langfuse/tests/test_langfuse_observer.py
  hexdag-plugins/pyproject.toml
  hexdag/__init__.py
  hexdag/api/__init__.py
  hexdag/api/systems.py
  hexdag/cli/main.py
  hexdag/kernel/lifecycle_runner.py
  hexdag/kernel/orchestration/components/checkpoint_manager.py
  hexdag/kernel/ports/__init__.py
  hexdag/kernel/ports/entity_state.py
  hexdag/kernel/system.py
  hexdag/stdlib/adapters/memory/file_memory_adapter.py
  hexdag/stdlib/lib/entity_state.py
  mkdocs.yml
  pyproject.toml
  tests/hexdag/api/test_systems.py
  tests/hexdag/kernel/test_lifecycle_runner.py
  tests/hexdag/kernel/test_system.py
  tests/hexdag/stdlib/adapters/memory/test_file_memory_adapter.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

fix: hexdag
  pyproject.toml
  tests/hexdag/cli/commands/test_create_cmd.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: feat
  tests/hexdag/cli/commands/test_docs_cmd.py
  tests/hexdag/cli/commands/test_init_cmd.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: nested
  docs/GUIDE.md
  tests/hexdag/compiler/test_reference_resolver.py
  tests/hexdag/compiler/test_yaml_validator.py
  tests/hexdag/kernel/orchestration/components/test_input_mapper.py
Due: check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: removed the yaml validator
  hexdag/compiler/yaml_validator.py
  tests/hexdag/compiler/test_yaml_validator.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat!: ambient input — one data-flow rule for Pipeline and System
  CHANGELOG.md
  CLAUDE.md
  docs/GUIDE.md
  hexdag/cli/commands/create_cmd.py
  hexdag/compiler/yaml_validator.py
  hexdag/kernel/domain/pipeline_config.py
  hexdag/kernel/orchestration/components/__init__.py
  hexdag/kernel/orchestration/components/adapter_lifecycle_manager.py
  hexdag/kernel/orchestration/components/execution_coordinator.py
  hexdag/kernel/orchestration/components/health_check_manager.py
  hexdag/kernel/orchestration/components/input_mapper.py
  hexdag/kernel/orchestration/components/lifecycle_manager.py
  hexdag/kernel/orchestration/components/secret_manager.py
  hexdag/kernel/system_runner.py
  hexdag/stdlib/nodes/function_node.py
  hexdag/stdlib/nodes/mapped_input.py
  interrogate_badge.svg
  schemas/README.md
  schemas/pipeline-schema.json
  schemas/pipeline-schema.yaml
  tests/hexdag/compiler/test_reference_resolver.py
  tests/hexdag/compiler/test_yaml_validator.py
  tests/hexdag/kernel/orchestration/components/test_execution_coordinator.py
  tests/hexdag/kernel/orchestration/components/test_input_mapper.py
  tests/hexdag/kernel/test_system_runner.py
  tests/hexdag/stdlib/nodes/test_function_node.py
  tests/hexdag/stdlib/nodes/test_mapped_input.py
  tests/integration/test_yaml_pipeline_execution.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat(compiler): M1 — one front door: compile() + structured diagnostics
  hexdag-studio/hexdag_studio/server/routes/validate.py
  hexdag/api/validation.py
  hexdag/cli/commands/validate_cmd.py
  hexdag/compiler/__init__.py
  hexdag/compiler/diagnostics.py
  hexdag/compiler/staged/__init__.py
  hexdag/compiler/staged/compile.py
  hexdag/compiler/yaml_builder.py
  interrogate_badge.svg
  tests/hexdag/cli/commands/test_validate_cmd.py
  tests/hexdag/compiler/staged/__init__.py
  tests/hexdag/compiler/staged/test_compile.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat(compiler): M2 — source provenance, parse-stage includes, fragment mode
  hexdag/cli/commands/validate_cmd.py
  hexdag/compiler/source_map.py
  hexdag/compiler/staged/compile.py
  hexdag/compiler/staged/parse.py
  hexdag/compiler/yaml_builder.py
  interrogate_badge.svg
  tests/hexdag/compiler/staged/test_compile.py
  tests/hexdag/compiler/staged/test_parse.py
  tests/hexdag/compiler/test_yaml_builder.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat(compiler): M3a — resolver-as-truth kinds + full-edge cycle detection
  hexdag/compiler/yaml_validator.py
  hexdag/kernel/resolver.py
  tests/hexdag/compiler/test_yaml_builder.py
  tests/hexdag/compiler/test_yaml_validator.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat(compiler): M3b — Rule 5 JSON-Schema unwrap + _SchemaValidator folded
  docs/generated/mcp/cli_reference.md
  hexdag/compiler/staged/parse.py
  hexdag/compiler/yaml_validator.py
  hexdag/kernel/ports/messaging.py
  hexdag/stdlib/adapters/mock/mock_email.py
  tests/hexdag/compiler/test_yaml_validator.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat(compiler): M3c — build-time raises migrated to validation rules
  hexdag/compiler/yaml_validator.py
  tests/hexdag/compiler/staged/test_compile.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: no dual mode
  docs/generated/mcp/adapter_guide.md
  docs/generated/mcp/extension_guide.md
  hexdag-plugins/hexdag_plugins/database/__init__.py
  hexdag-plugins/hexdag_plugins/database/adapters/sqlalchemy_adapter.py
  hexdag-plugins/hexdag_plugins/database/dual_mode.py
  hexdag-plugins/hexdag_plugins/database/run_scope.py
  hexdag-plugins/hexdag_plugins/database/service.py
  hexdag-plugins/hexdag_plugins/database/tests/test_run_scope.py
  hexdag-plugins/hexdag_plugins/database/tests/test_run_scoped_sessions.py
  hexdag-plugins/hexdag_plugins/database/tests/test_sqlalchemy_adapter.py
  hexdag/stdlib/adapters/database/sqlalchemy/__init__.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate

feat: claude
  .claude/README.md
  .claude/agents/compiler-yaml-specialist.md
  .claude/agents/core-engine-specialist.md
  .claude/agents/qa-triage.md
  .claude/settings.json
  .claude/skills/commit/SKILL.md
  .claude/skills/pr-prep/SKILL.md
  .claude/skills/qa-fast/SKILL.md
  .claude/skills/qa-gate/SKILL.md
  .claude/skills/worktree/SKILL.md
  .claude/skills/yaml-check/SKILL.md
  .claude/workflows/code-review.js
  .claude/workflows/feature-fanout.js
  .gitignore
Due: none

feat: claude skills
  .pre-commit-config.yaml
  hexdag/cli/commands/init_cmd.py
  hexdag/cli/templates/__init__.py
  hexdag/cli/templates/claude/README.md
  hexdag/cli/templates/claude/agents/hexdag-pipeline-debugger.md
  hexdag/cli/templates/claude/skills/hexdag-pipeline/SKILL.md
  hexdag/cli/templates/claude/skills/hexdag-validate/SKILL.md
  hexdag/cli/templates/claude/workflows/hexdag-pipeline-review.js
  pyproject.toml
  scripts/check_claude_assets.py
  tests/hexdag/cli/commands/test_init_cmd.py
Due: pyright, check-core-imports, check-async-io, check-test-structure, doctest, pytest, pytest-integration, vulture, radon-complexity, interrogate
